<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>修改會員資料</title>
</head>
<body>
    <h3>您好 <%= name %></h3>
    <h3>修改會員資料</h3>
    <hr/>
    <form method="POST" action="/admin/editData">
        姓名 <input type="text" name="name" value="<%= name %>"><br>
        原始密碼 <input type="password" name="pwd_old"><br>
        新密碼 <input type="password" name="pwd_new"><br>
        <button>確定</button>
    </form>
</body>
</html>